
body {
    margin: 0px;
    padding: 0px;
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: #232323;
}

div {
    width: 90%;
    height: 90vh;
    border-radius: 50px;
    background-color: blue;
}